# Telegram Bot Token (@BotFather dan olingan)
BOT_TOKEN=8654252494:AAGV1gvGEBNXhPWck1Zkm4Y-9cGM4npLN4o

# Supabase Cloud Database Ulanishi
SUPABASE_URL=https://qfhnzcwkuxdfdsvdpsvx.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
