# Telegram Bot Token (@BotFather dan olingan)
BOT_TOKEN=1234567890:ABCdefGhIJKlmNoPQRsTUVwxyZ

# Supabase Cloud Database Ulanishi
SUPABASE_URL=https://qfhnzcwkuxdfdsvdpsvx.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
